appdirs==1.4.3
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
feedparser==5.2.1
Flask==1.1.2
fuzzywuzzy==0.18.0
gnewsclient==1.12
gunicorn==20.0.4
hackerrank-sdk==1.2.4
html5lib==1.0.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
prompt-toolkit==3.0.5
pymessenger==0.0.7.0
pyparsing==2.4.7
python-Levenshtein==0.12.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
soupsieve==2.0
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
wit==5.1.0

pymongo~=3.10.1